<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventārs</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
</head>
<body>
    <nav class="nav-barra">
        <div class="logo-name">
          <div class="font">
         <a href="/"> <h1>Inventory <br>Management</h1></a>
        </div>
      </div>
<div class="enlace">
        <a href="#info-principal">Sobre nosotros</a>
      </div>
       </nav>
      
       <div class="container">
        <div class="img-container">
          <img src="./img/home2.jpg" alt="">
        </div>
        <div id="Contenedor">
   
            <div class="Icon">
                     <form action="/registro" method="post">
                <section >
                    <h4>Register</h4>
                    <input class="controls" type="email" name="email" id="email" placeholder="Enter your email" required>
                    <input class="controls" type="password" name="password" id="password" placeholder="Enter your password" required><br>
                    <a href="/login" class="a-form">¿Ya tienes una cuenta?</a><br>
                    <button class="botons" type="submit" value="Registrar" >To register</button>
                    </section>
                  </form>
            </div>	
            </div>
 
    </div>
      <div id="info-principal">
    <div class="info">
      <div class="primer-p">
      <ul>➤¿En que nos enfocamos?</ul>
     
      <li> <p>Principalmente nos enfocamos en el manejo de
         productos,asi mismo como manejar su registro,ingreso y salida...</p> </li>
      </div>
      <div class="primer-p">
        <ul>➤Seguridad</ul>
        <li> <p>La seguridad en nuestro sitio web es muy importante
        por el cual de ninguna manera se perdera alguna infromacion almacenada</p> </li>
        </div>
        <div class="primer-p">
          <ul>➤Fiabilidad</ul>
          <li> <p>Nuestro aplicativo web te ofrece una fiabilidad con su uso y su manera de 
          interactuar con tus productos almacenados anteriormente y previamente</p> </li>
          </div>
        </div>

      <div class="img-info">

        <img src="./img/info.png" alt="">
      </div>
        </div>
       <footer>Inventārs, Copyright &#169; 2022</footer>
      
      
</body>
</html>