<!DOCTYPE html>
<html lang="en">
<head>
    <title>Inventārs</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
</head>
<body>
    <nav class="nav-barra">
        <div class="img">
          <img src="/img/logo.png"    height="100px" width="300px">
        </div>
<div class="enlace">
        <a href="/login">iniciar sesion</a>+
      </div>
       <div class="barra">
       
        
      
       </div>
       </nav>
      
       <div class="container">
        
        <div id="Contenedor">
   
            <div class="Icon">
                     <form action="/registro" method="post">
                <section >
                    <h4>Register</h4>
                    <input class="controls" type="email" name="email" id="email" placeholder="Ingrese su Correo" required>
                    <input class="controls" type="password" name="password" id="password" placeholder="Ingrese su Contraseña" required>

                    <button class="botons" type="submit" value="Registrar" > Registrar</button>
                  </form>
            </div>	
            </div>
  
    </div>
      
      
       <footer>Inventārs, Copyright &#169; 2022</footer>
      
      
</body>
</html>