<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliotec</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <body>

   
    
                         <form action="/login" method="post">
                            <div class="nav">
                          
                            </div>
                           <div class="container-login">
                            
                    <section class="formulario" >
                      <form action="login" method="post">
                        <h4>Login</h4>
                        <input class="controls" type="text" name="email" id="nombres" placeholder="Ingrese su correo electronico" required>
                        
      
                        <input class="controls" type="password" name="password" id="correo" placeholder="Ingrese su Contraseña" required>

                        
                        <button class="botons" type="submit" value="Iniciar sesion"> Iniciar sesion</button>
                        <div class="enlace-login">
                          <a href="/">⇤</div>
                        </div>
                      </form>
                      </seccion>
                    </div>
                      
    
         
</body>
</html>