<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliotec</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <body>

     <div class="container-contraseña">
     <div class="texto-contraseña">


      <h1>Registro exitoso</h1>
      <div class="enlace-login">
         <a href="/registro">⇥</div>
       </div>
     
</div>


     </div>
      
         
</body>
</html>