<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bibliotec</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/img">
    <link rel="stylesheet" href="/sweet/sweetalert2.min.css">
    <link rel="shortcut icon" href="media/icon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

   
</head>
<body>
    <nav class="nav-barra">
        <div class="img">
          <img src="img/logo.png"    height="100px" width="300px">
        </div>
        <div class="barra">
          <div class="enlaces">
            <a href="/">Inicio</a>
         
          </div>
      
       
        </div>
      
       </div>
       </nav>
      
      <div class="funcionalidades">
        
        <div class="registrar-producto">
      <form action="/registrarproducto" method="post">
      <div class="registrar">
        <h1>Registrar Producto</h1>
         <p>Codigo producto</p>
        <input type="text" name="id">
        <p>Categoria</p>
        <input type="text" name="categoria">
        <p>Nombre</p>
        <input type="text" name="nombre">
        <p>Descripcion</p>
        <textarea type="text" name="descripcion" ></textarea> <br>
        <p>Fecha de vencimiento</p>
        <input type="text" name="fechaven">
        <p>Envalage</p>
        <input type="text" name="envalaje">
        <p>Cantidad</p>
        <input type="text" name="cantidad">
        <div class="boton">
        <button class="btn-2">Registrar<button>
      </div>
      </div>
      
       </div>
      </form>
       <div class="funcionalidades-generales">
      <div class="ingreso">
        <h1>Ingreso de productos</h1>
         <p>Codigo de ingreso</p>
        <select type="text">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
      <option value="">5</option>
      <option value="">6</option>
      <option value="">7</option>
      <option value="">8</option>
      <option value="">9</option>
      <option value="">10</option>
      
        </select>
        <p>Codigo de producto</p>
        <select type="text">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
      <option value="">5</option>
      <option value="">6</option>
      <option value="">7</option>
      <option value="">8</option>
      <option value="">9</option>
      <option value="">10</option>
      
        </select>
        <p>Fecha de ingreso</p>
        <input type="date">
        <p>Cantidad de producto</p>
        <input type="text">
        <button class="btn-2">ingresar producto<button>
      
      </div>
        
      <div class="salida">
        <h1>Salida Producto</h1>
         <p>Codigo de salida</p>
        <select type="text">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
      <option value="">5</option>
      <option value="">6</option>
      <option value="">7</option>
      <option value="">8</option>
      <option value="">9</option>
      <option value="">10</option>
        </select>
        <p>Codigo de producto</p>
       <select type="text">
      <option value="">1</option>
      <option value="">2</option>
      <option value="">3</option>
      <option value="">4</option>
      <option value="">5</option>
      <option value="">6</option>
      <option value="">7</option>
      <option value="">8</option>
      <option value="">9</option>
      <option value="">10</option>
       </select>
       <p>Fecha de salida</p>
       <input type="date">
        <p>Cantidad de salida</p>
        <input type="text" >
        <button class="btn-2">siguiente<button>
        
       </div>
      </div>
       </div>
      

      
</body>
</html>